<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
	a{
    
	border:1px solid;
	padding: 10px;
	margin:10px;
	width:120px;
	 
	}


input[type=submit]{
	padding: 5px 15px;
	width: 100%;
}


.grid-wrapper {
	padding: 0 10px;
	display: grid;
	width: 100%;
	height: 90vh;
	grid-template-columns: 1fr 50%;
	grid-template-rows: auto 1fr;
	font-family: 'Open Sans', sans-serif;
}
.imgBlock {
	grid-column: 2/3;
	grid-row: 1/3;
}

.imgBlock > img {
	height: 100%;
	width: 100%;
}

.links {
	display: flex;
	align-items: center;
}

.links > img {
	height: 300px;
	width: auto;
}

</style>

<div class="grid-wrapper">
	<div class="title">
		<h1>{{title}}</h1>
	</div>
	<div class="imgBlock">
		<img src="https://images.pexels.com/photos/207691/pexels-photo-207691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
	</div>
	<div class="links">
	</div>
</div>