<style>
	#miformulario{
	border-radius: 10px;
	padding: 17px;
	width:500px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

input[type=submit]{
	padding: 5px 15px;
	width: 100%;
}

@media (max-width: 600px){
	#miformulario{
		width: 90%;
	}
}

.roleGroup {
	display: flex;
	flex-direction: column;
}

/*
	#edad{
		text-align: left;
		margin-left: 15px;
	}
*/

</style>

<div class="col-lg-5" id="miformulario">
	<h1 class="h1-strong">{{title}}</h1>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Registro completado correctamente, <a [routerLink]="['/login']">identificate aquí</a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		El registro no ha podido completarse, quizas tu email o nickname ya esté en uso, intentalo de nuevo con otros datos
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio!!
			</span>
		</p>

		<p>
			<label>Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
			<span *ngIf="!surname.valid && surname.touched">
				Los apellidos son obligatorios!!
			</span>
		</p>

		<p>
			<label>Codigo Institucional</label>
			<input type="text" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control" required pattern="[0-9]{8}"/>
			<span *ngIf="!code.valid && code.touched">
				Su codigo es incorrecto (codigo del carné)!!
			</span>
		</p>

		<p>
			<label>Nickname</label>
			<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
			<span *ngIf="!nick.valid && nick.touched">
				El apodo es obligatorio!!
			</span>
    </p>

    <p class="roleGroup">
      <label>Rol</label>
      <select class="form-control" name="role" #role="ngModel" [ngModel]="user.role" (ngModelChange)="onChangeRole($event)" required>
        <option value="Estudiante">Estudiante</option>
        <option value="Profesor">Profesor</option>
        <option value="Administrativo">Administrativo</option>
      </select>
    </p>

		<p>
			<label>Correo electrónico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@unmsm.edu.pe$"/>
			<span *ngIf="!email.valid && email.touched">
				Ingrese su correo institucional e.g : edgar.quispe@unmsm.edu.pe
			</span>
		</p>


		<p>
			<label>Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required pattern="[a-zA-Z0-9._%+-]{6,20}" />
			<span *ngIf="!password.valid && password.touched">
				La constraseña es obligatoria, minimo 6 caracteres!!
			</span>
    </p>


		<input type="submit" value="{{title}}" class="btn btn-danger" [disabled]="!registerForm.form.valid" />
	</form>

</div>
