<style>
	#milogin{
	border-radius: 10px;
	padding: 17px;
	width:500px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);  
	}

input[type=submit]{
	padding: 5px 15px;
	width: 100%;
}

@media (max-width: 600px){
	#milogin{
		width: 90%;
	}

}
</style>


<div class="col-lg-5" id="milogin">
	<h1 class="h1-strong">{{title}}</h1>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Te has identificado correctamente, bienvenido!!
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		No te has podido identificar correctamente!!
	</div>

	<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
		<p>
			<label>Correo electrónico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
			<span *ngIf="!email.valid && email.touched">
				El email no es correcto
			</span>
		</p>
		
		<p>
			<label>Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
			<span *ngIf="!password.valid && password.touched">
				 La contraseña es obligatoria
			</span>
		</p>

		<input type="submit" value="Entrar" class="btn btn-danger" [disabled]="!loginForm.form.valid" />
	</form>

</div>