<div class="col-lg-5">
	<h1 class="h1-strong">{{title}}</h1>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Se han actualizado tus datos correctamente!!
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		No se han podido actualizar tus datos!!
	</div>

	<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control"/>
			<span *ngIf="!name.value && name.touched">
				El nombre es obligatorio
			</span>
		</p>

		<p>
			<label>Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required class="form-control"/>
			<span *ngIf="!surname.value && surname.touched">
				Los apellidos son obligatorios
			</span>
		</p>

		<p>
			<label>Codigo Institucional</label>
			<input type="text" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control" required pattern="[0-9]{8}"/>
			<span *ngIf="!code.valid && code.touched">
				Su codigo es incorrecto!!
			</span>
		</p>


		<p>
			<label>Nick</label>
			<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required class="form-control"/>
			<span *ngIf="!nick.value && nick.touched">
				El nick es obligatorio!!
			</span>
		</p>

		<p>
			<label>Correo electronico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@unmsm.edu.pe$" class="form-control"/>
			<span *ngIf="!email.value && email.touched">
				El email es obligatorio
			</span>
		</p>

		<div class="user-image-for-edit" *ngIf="user.image">
			<img src="{{ url + 'get-image-user/' + user.image }}" />
		</div>

		<p>
			<label>Sube tu avatar</label>
			<input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
		</p>

		<input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />
	</form>

</div>